---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
---

<Layout title="Welcome Bright Side Skateboard Supply.">
	<main class="flex w-full h-screen items-center justify-center flex-col">
		<Image width={420} src={logo} alt="Bright Side Skate Supply Logo." aria-label="Bright Side Logo" />
		<div class="mt-8 w-full lg:w-1/4 flex items-center justify-center">
			<p class="font-mono text-center text-xl text-[#fcfd30]">
				98 King St N, Upper Unit<br/>
				Waterloo, Ont<br/>
				N2J2X4
			</p>
		</div>
		<div class=" w-full flex-col lg:flex-row lg:w-1/2 flex  pt-8 items-center justify-center gap-8 text-[#fcfd30]">
			<div class="font-mono flex flex-row text-xl lg:text-2xl items-center justify-center">
				<svg class="mr-4" width="26" height="26" viewBox="0 0 26 26" fill="#" xmlns="http://www.w3.org/2000/svg">
					<path d="M13.0029 6.33393C9.31389 6.33393 6.33832 9.31016 6.33832 13C6.33832 16.6898 9.31389 19.6661 13.0029 19.6661C16.6919 19.6661 19.6675 16.6898 19.6675 13C19.6675 9.31016 16.6919 6.33393 13.0029 6.33393ZM13.0029 17.3338C10.619 17.3338 8.67005 15.3903 8.67005 13C8.67005 10.6097 10.6132 8.66618 13.0029 8.66618C15.3926 8.66618 17.3358 10.6097 17.3358 13C17.3358 15.3903 15.3868 17.3338 13.0029 17.3338ZM21.4946 6.06125C21.4946 6.92569 20.7986 7.61609 19.9401 7.61609C19.0759 7.61609 18.3856 6.91989 18.3856 6.06125C18.3856 5.20261 19.0817 4.50641 19.9401 4.50641C20.7986 4.50641 21.4946 5.20261 21.4946 6.06125ZM25.9086 7.6393C25.81 5.55651 25.3344 3.71159 23.8089 2.19157C22.2892 0.671538 20.4447 0.195805 18.3624 0.0913757C16.2163 -0.0304586 9.78371 -0.0304586 7.63759 0.0913757C5.56107 0.190003 3.71656 0.665737 2.19108 2.18576C0.665589 3.70579 0.195761 5.55071 0.0913553 7.63349C-0.0304518 9.7801 -0.0304518 16.2141 0.0913553 18.3607C0.189961 20.4435 0.665589 22.2884 2.19108 23.8084C3.71656 25.3285 5.55527 25.8042 7.63759 25.9086C9.78371 26.0305 16.2163 26.0305 18.3624 25.9086C20.4447 25.81 22.2892 25.3343 23.8089 23.8084C25.3286 22.2884 25.8042 20.4435 25.9086 18.3607C26.0305 16.2141 26.0305 9.7859 25.9086 7.6393ZM23.1361 20.664C22.6837 21.8011 21.8078 22.6771 20.6651 23.1354C18.954 23.8142 14.8938 23.6576 13.0029 23.6576C11.112 23.6576 7.04596 23.8084 5.34066 23.1354C4.20379 22.6829 3.32794 21.8069 2.86972 20.664C2.19108 18.9525 2.34769 14.8913 2.34769 13C2.34769 11.1087 2.19688 7.04173 2.86972 5.33605C3.32214 4.19893 4.19799 3.32288 5.34066 2.86455C7.05176 2.18576 11.112 2.34241 13.0029 2.34241C14.8938 2.34241 18.9598 2.19157 20.6651 2.86455C21.802 3.31708 22.6779 4.19313 23.1361 5.33605C23.8147 7.04753 23.6581 11.1087 23.6581 13C23.6581 14.8913 23.8147 18.9583 23.1361 20.664Z" fill="#fcfd30"/>
				</svg>
				<a href="https://instagram.com/brightsideskatesupply" target="_blank" title="Bright Side Inatgram" aria-label="Bright Side Instagram Link">
					@brightsideskatesupply
				</a>
			</div>
			<div class="font-mono flex flex-row text-xl lg:text-2xl items-center justify-center">
				<svg class="mr-4" width="26" height="26" width="25" height="19" viewBox="0 0 25 19" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M24.5264 6.19141C24.7168 6.04004 25 6.18164 25 6.4209V16.4062C25 17.7002 23.9502 18.75 22.6562 18.75H2.34375C1.0498 18.75 0 17.7002 0 16.4062V6.42578C0 6.18164 0.27832 6.04492 0.473633 6.19629C1.56738 7.0459 3.01758 8.125 7.99805 11.7432C9.02832 12.4951 10.7666 14.0771 12.5 14.0674C14.2432 14.082 16.0156 12.4658 17.0068 11.7432C21.9873 8.125 23.4326 7.04102 24.5264 6.19141ZM12.5 12.5C13.6328 12.5195 15.2637 11.0742 16.084 10.4785C22.5635 5.77637 23.0566 5.36621 24.5508 4.19434C24.834 3.97461 25 3.63281 25 3.27148V2.34375C25 1.0498 23.9502 0 22.6562 0H2.34375C1.0498 0 0 1.0498 0 2.34375V3.27148C0 3.63281 0.166016 3.96973 0.449219 4.19434C1.94336 5.36133 2.43652 5.77637 8.91602 10.4785C9.73633 11.0742 11.3672 12.5195 12.5 12.5Z" fill="#fcfd30"/>
				</svg>

				<a href="mailto:info@brightsideskate.com" target="_blank" title="Email Bright Side" aria-label="Email Bright Side">
					info@brightsideskate.com
				</a>
			</div>
		</div>
	</main>
</Layout>

